/* ===== TOGGLE SWITCH ===== */

.toggle-wrapper {
  cursor: pointer;
}

.toggle-switch {
  width: 70px;
  height: 34px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 4px;
  transition: 0.4s ease;
  position: relative;
}

.toggle-switch.dark {
  background: linear-gradient(90deg, #1e90ff, #ff00cc);
}

.toggle-switch.light {
  background: #d1d5db;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  font-size: 14px;
}

.toggle-switch.dark .toggle-circle {
  transform: translateX(36px);
}

.toggle-switch.light .toggle-circle {
  transform: translateX(0px);
}